*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite
}

@import './secciones/fotos';
@import './secciones/index';
@import './secciones/footer';

main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url(../imagenes/fondo.jpg);
    align-items: center;

}
.aplic {
	background-color: rgba(152, 131, 131, 0.489);
	border-radius: 10px;
}
.margen{
    margin: 10px;
}
.borde{
    border-radius: 10px;
}
.letras{
    text-decoration: none;
    color: black;
}
@keyframes cambiocolor{
    0%{
        background-color:red;
    }
    25%{
        background-color: orange;
    }
    50%{
        background-color: aqua;
    }
    100%{
        background-color: blueviolet;
    }
}
@keyframes cambioancho{
    0%{
        width: 100%;
        background-color: beige;
    }
    50%{
        width: 75%;
        background-color: blanchedalmond;
    }
    100%{
        width: 50%;
        background-color: blueviolet;
    }
}
@media screen and (max-width:600px){
    body{
        grid: 20% 60% 20% /repeat(6,1fr);
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main "
        "footer footer footer footer footer footer ";
    }
}